video#bgvid { 
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      background: url(polina.jpg) no-repeat;
      background-size: cover; 
      }
	  
      #information{
      position: fixed;
      text-align:right;
      right: 0px;
      top: -188px;
      width: -webkit-fit-content;
      background-color:rgba(10,10,10,.4);
      height: -webkit-fit-content;
	  transition-duration: 1s;
      }
	  
      #cheatSheet{
      background-color:rgba(10,10,10,.2);
      text-align: center;
      height: 50px;
      }
	  
      #signature{
      position: fixed;     
      text-align: center;    
      bottom: 0px; 
      width: 100%;
      }
	  
      #copyright{
      position: fixed;
      bottom: 0px;
      width: 100%;
      left: 20px;
      color: white;
      font-size: 15px;
      text-align: left;
      }
	  
      a{
      color: #2a9fd6;
      font-size: 15px;
      }
	  
      a:link{
      text-decoration: none;
      }
	  
      a:hover{
      text-decoration: underline;
      }
	  
      #title{
      position: fixed;
      width: 100%;
      z-index: -1;
      top:5%;
      text-align: center;
      font-size: 25px;
      font-weight: bold;
	  font-family: Arial;
      }
	  
      body {
      margin: 0;
      padding: 0;
      }
	  
      footer{
      position: fixed;
      background-color:rgba(10,10,10,.8);
      height: 50px;
      bottom: 0px;
      width: 100%;
      left: 0px;
      text-align: center;
      }
	  
      ul{
      padding: 0px;
      }
	  
      #gameWrapper{
	  top: 20%;
      position: fixed;
      left:25%;
	  width: 50%;
	  font-family: Arial;
      }
	  
	  .massButton{
		font-family: Arial;
		color: #ffffff;
		font-size: 20px;
		background-color:rgba(10,10,10,.4);
		width: 170px;
		height: 50px;
		text-decoration: none;
		border: none;
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;
	
	  }
	  .massButton:hover {
		background-color: #167C9E; 
	}
	  #shipsOnOtherSide{
	  z-index: -1;
	  top: 15%;
	  position: fixed;
	  width: 10%;
	  left: 40%;
	  text-align: center;
	  font-size: 20px;
	  font-family: Arial;
	  }
	  #shipsJumped{
	  z-index: -1;
	  top: 15%;
	  position: fixed;
	  width: 10%;
	  left: 50%;
	  text-align: center;
	  font-size: 20px;
	  font-family: Arial;
	  }
	  #leftButtons{
	  left: 0px;
	  width: -webkit-fit-content;
	  position: absolute;
	  text-align: center;
	  }
	  
	  #rightButtons{
	  width: -webkit-fit-content;
	  position: absolute;
	  top:0px;
	  right: 0px;
	  text-align: center;
	  }
	  #mass{
	  width: 100%;
	  position: fixed;
	  top: 70%;
	  text-align: center;
	  }
	  .direction{
	  font-weight: bold;
	  font-family: Arial;
	  }
	  .options{
		font-family: Arial;
		color: #ffffff;
		font-size: 20px;
		background-color:rgba(10,10,10,.4);
		width: 170px;
		height: 50px;
		z-index: 50;
		text-decoration: none;
		border: none;
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;
		padding: 0;
		top: 0px;
		position: fixed;
	  }
	  #extraBar{
		height: -webkit-fit-content;
		left: -190px;
		width: 410px;
		top: 30%;
		position: fixed;
		transition-duration: 1s;
		-webkit-transition-duration: 1s; /* Safari */
		font-family: Arial;
		color: #ffffff;
	  }
	  
	  .extra{
		font-family: Arial;
		color: #ffffff;
		font-size: 20px;
		background-color:rgba(10,10,10,0.4);
		width: 170px;
		height: 50px;
		z-index: 50;
		text-decoration: none;
		border: none;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
		padding: 0;
		left: 10px;
		top: 2px;
		position: relative;
		
	  }
	  #options{
	  z-index: 50;
	  }
	  .extra:hover{
	   background-color: #167C9E; 
	  }
	  .options:hover{
	  background-color: #167C9E; 
	  }
	  #github{
	  position: fixed;
      bottom: 1%;
      width: -webkit-fit-content;
      right: 20px;
      color: white;
      font-size: 15px;
      text-align: right;
	  }
	  #extraBarText{
		text-align: center;
		width: 100%;
		position: absolute;
		left: 0px;
		-ms-transform: rotate(90deg); /* IE 9 */
		-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
		transform: rotate(90deg);
		transition-duration: 1s;
	  }